{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% if not app.user %}
        <div class="container mt-5">
            <!-- Welcome Section -->
            <div class="text-center">
                <h1>Welcome to Concerto, your ultimate idea manager!</h1>
                <p class="lead mt-3">Concerto helps you manage and develop your ideas efficiently. Connect to get started!</p>
            </div>
                        
            <!-- Connection Section -->
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <a href="{{ path('connect_google') }}" class="btn btn-blue btn-lg btn-block">
                                <i class="bi bi-google"></i> Connect with Google
                            </a>
                        </div>
                        <div class="col-6 mb-3">
                            <a href="{{ path('connect_github') }}" class="btn btn-orange btn-lg btn-block">
                                <i class="bi bi-github"></i> Connect with GitHub
                            </a>
                        </div>
                        <div class="col-6 mb-3">
                            <a class="btn btn-yellow btn-lg btn-block" data-toggle="modal" data-target="#magicLinkModal">
                                <i class="bi bi-magic"></i> Get your Magic Link
                            </a>
                        </div>
                        <div class="col-6 mb-3">
                            <a href="{{ path('connect_discord') }}" class="btn btn-darkBlue btn-lg btn-block">
                                <i class="bi bi-discord"></i> Connect with Discord
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Magic Link Modal -->
            <div class="modal fade" id="magicLinkModal" tabindex="-1" role="dialog" aria-labelledby="magicLinkModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="magicLinkModalLabel">Request Magic Link</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{{ path('request_magic_link') }}" id="magic-link-form">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" required class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary" id="submit-btn">Send Magic Link</button>
                                <div class="loader d-none" id="loader"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- About Section -->
            <div class="row mt-5">
                <div class="col-md-10 offset-md-1">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="text-center mb-4">About Concerto</h2>
                            <p class="lead text-center">
                                Concerto is designed to streamline the process of idea management and development. Whether you're an individual brainstorming your next big project or a team collaborating on innovative solutions, Concerto provides the tools you need to track, develop, and bring your ideas to life.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row mt-5">
                <div class="col">
                    <h1>Welcome, {{ app.user.firstName and app.user.lastName ? (app.user.firstName ~ ' ' ~ app.user.lastName)|title : app.user.username|title }} </h1>

                </div>
                <div class="col text-right">
                    <button class="btn btn-primary modalbox-project" data-toggle="modal" data-target="#projectModal" data-content-url="{{ path('project_new') }}">
                        <i class="bi bi-plus"></i> New Project
                    </button>
                </div>
            </div>

            <!-- Personal Projects Section -->
            <div class="row mt-4">
                <div class="col">
                    <h3 class="mb-3 col-md-4">
                        Personal Projects
                        <span class="toggle-section float-right" data-toggle="collapse" data-target="#personalProjects" aria-expanded="true" aria-controls="personalProjects">
                            <i class="bi bi-chevron-up"></i>
                        </span>
                    </h3>
                    <div class="collapse show" id="personalProjects">
                        <div class="row">
                            {% if projects is empty %}
                                <div class="col text-center py-5">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <h5 class="card-title">No Projects Yet</h5>
                                            <p class="card-text">You haven't created any projects yet. Once you have created a project, you'll see the projects here.</p>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {% for project in projects %}
                                    <div class="col-md-4 mb-4">
                                        <div class="card shadow-sm project-card">
                                            <a href="{{ path('project_view', {'id': project.id}) }}" class="card-link">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ project.title }}</h5>
                                                    <div class="progress my-2">
                                                        {% if project.completion == "100" %}
                                                            <div class="progress-bar-striped bg-success progress-bar" role="progressbar" style="width: {{ project.completion }}%;" aria-valuenow="{{ project.completion }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                        {% else %}
                                                            <div class="progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: {{ project.completion }}%;" aria-valuenow="{{ project.completion }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                        {% endif %}
                                                    </div>
                                                    <p class="card-text text-muted">{{ project.description }}</p>
                                                    <div class="mt-0">
                                                        {% for tag in project.tags %}
                                                            <span class="badge" style="background-color: {{ tag.color }}; color: #fff;">{{ tag.title }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Shared Projects Section -->
            <div class="row mt-4">
                <div class="col">
                    <h3 class="mb-3 col-md-4">
                        Shared Projects
                        <span class="toggle-section float-right" data-toggle="collapse" data-target="#sharedProjects" aria-expanded="true" aria-controls="sharedProjects">
                            <i class="bi bi-chevron-up"></i>
                        </span>
                    </h3>
                    <div class="collapse show" id="sharedProjects">
                        <div class="row">
                            {% if collabs is empty %}
                                <div class="col text-center py-5">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <h5 class="card-title">No Shared Projects Yet</h5>
                                            <p class="card-text">You haven't been invited to any projects yet. Once a teammate invites you to collaborate, you'll see the projects here.</p>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {% for collab in collabs %}
                                    <div class="col-md-4 mb-4">
                                        <div class="card shadow-sm project-card">
                                            <a href="{{ path('project_view', {'id': collab.id}) }}" class="card-link">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ collab.title }}</h5>
                                                    <div class="progress my-2">
                                                        {% if collab.completion == "100" %}
                                                            <div class="progress-bar-striped bg-success progress-bar" role="progressbar" style="width: {{ collab.completion }}%;" aria-valuenow="{{ collab.completion }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                        {% else %}
                                                            <div class="progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: {{ collab.completion }}%;" aria-valuenow="{{ collab.completion }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                        {% endif %}
                                                    </div>
                                                    <p class="card-text text-muted">{{ collab.description }}</p>
                                                    <div class="tags">
                                                        {% for tag in collab.tags %}
                                                            <span class="badge" style="background-color: {{ tag.color }}; color: #fff;">{{ tag.title }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Modal -->
            <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div id="projectModalContent"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <style>
        .project-card {
            height: 100%;
        }

        .project-card .card-body {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .progress {
            height: 10px;
            margin-bottom: 10px;
        }

        .progress-bar {
            transition: width 0.3s ease-in-out;
        }

        .card-body .btn {
            margin-top: 15px;
        }
    </style>
    
    <script>
        // Toggle arrow icons for collapsible sections using jQuery
        $(document).ready(function () {
            $('.toggle-section').click(function () {                
                var icon = $(this).find('i');
                if (icon.hasClass('bi-chevron-up')) {
                    icon.removeClass('bi-chevron-up').addClass('bi-chevron-down');
                } else {
                    icon.removeClass('bi-chevron-down').addClass('bi-chevron-up');
                }
            });

            // Handle form submission to show loader
            $('#magic-link-form').submit(function () {
                $('#submit-btn').attr('disabled', 'disabled'); // Disable submit button
                $('#loader').removeClass('d-none'); // Show loader
            });
        });
    </script>
    
{% endblock %}
