<nav class="navbar navbar-expand-lg navbar-light bg-light align-items-center">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('images/concerto.png') }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">
                        Concerto
                    </a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">
                            <i class="bi bi-house-door-fill mr-1"></i> Home
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% if app.user %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if (app.user.avatar) %}
                                    <img src="{{ app.user.avatar }}" class="img-fluid rounded-circle nav-profile-picture" alt="Profile Picture">
                                {% else %}
                                    <i class="bi bi-person-circle"></i> 
                            {% endif %}

                            {{ app.user.firstName and app.user.lastName ? (app.user.firstName ~ ' ' ~ app.user.lastName)|title : app.user.username|title }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('profile') }}">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                Logout <i class="bi bi-box-arrow-right ml-1"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">
                            Login <i class="bi bi-box-arrow-in-right ml-1"></i>
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>