{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% if not app.user %}
        <div class="container">
            <h1>Welcome to Concerto, your ultimate idea conductor!</h1>
            <h2 class="mt-4">Please use connect using OAuth</h2>
            <div class="row mt-4 ml-4">
                <p>
                    <a href="{{ path('connect_google') }}" class="btn btn-primary">Connect with Google</a>
                    <a href="{{ path('connect_github') }}" class="btn btn-secondary">Connect with GitHub</a>
                </p>
            </div>
        </div>
    {% else %}
        <div class="container">
            <h1>Welcome, {{ app.user.username }}</h1>
            <div class="row mt-4">
                <div class="col">
                    <h2>Dashboard</h2>
                </div>
                <div class="col text-right">
                    <button class="btn btn-secondary modalbox-project" data-toggle="modal" data-target="#projectModal" data-content-url="{{ path('project_new') }}">
                        <i class="bi bi-plus"></i> New Project
                    </button>
                </div>
            </div>
            <div class="row mt-4">
                {% for project in projects %}
                    <div class="col-md-4 mb-4">
                        <div class="card project-card clickable-card">
                            <a href="{{ path('project_view', {'id': project.id}) }}" class="card-link">
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.title }}</h5>
                                    <p class="card-text">{{ project.description }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- Project Modal -->
    <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="projectModalContent"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
