<div class="row mt-10">
    <div class="col-md-8">
        <div class="d-flex align-items-center mb-2">
            <h1 class="mr-3">{{ project.title|capitalize }}</h1>
            {% if app.user == project.owner %}
                <button type="button" class="btn btn-outline-secondary modalbox-edit-project mr-3" id="editProjectBtn" data-toggle="modal" data-target="#modal" data-content-url="{{ path('project_edit', {'id': project.id}) }}">
                    <i class="bi bi-pencil-square"></i> Edit
                </button>
                <button type="button" class="btn btn-outline-danger" id="deleteProjectBtn" data-project-id="{{ project.id }}">
                    <i class="bi bi-trash"></i> Delete
                </button>
            {% endif %}
        </div>
        <p>{{ project.description|capitalize }}</p>
        
        <div class="mt-3">
            {% for tag in project.tags %}
                <span class="badge" style="background-color: {{ tag.color }}; color: #fff;">{{ tag.title }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        {% include 'project/_project_members.html.twig' %}
    </div>
</div>

<script>
$(document).ready(function() {
    $('#deleteProjectBtn').on('click', function() {
        var projectId = $(this).data('project-id');
        if (confirm('Are you sure you want to delete this project?')) {
            deleteProject(projectId);
        }
    });

    function deleteProject(projectId) {
        $.ajax({
            url: '/projects/' + projectId,
            type: 'DELETE',
            headers: {
                'X-CSRF-TOKEN': '{{ csrf_token('delete' ~ project.id) }}',
                'Content-Type': 'application/json'
            },
            success: function(response) {
                window.location.href = '{{ path('dashboard') }}';
            },
            error: function(xhr) {
                console.error('Failed to delete the project.');
            }
        });
    }
});
</script>
