{# _project_members.html.twig #}
<div class="card">
    <div class="card-header">
        Project Members
        {% if app.user == project.owner %}
            <a class="btn-sm btn-link modalbox-invite-member" id="inviteMemberBtn" data-toggle="modal" data-target="#inviteMemberModal" data-content-url="{{ path('project_invite_collaborator', {'id': project.id}) }}">
                <i class="bi bi-person-add btn-add-member"></i>
            </a>
        {% endif %}
    </div>
    <ul class="list-group list-group-flush">
        <li class="project-owner list-group-item d-flex align-items-center">
            <img src="{{ project.owner.avatar ?? asset('images/concerto.png')}}" class="img-fluid rounded-circle profile-picture" alt="Profile Picture">
            <span class="ml-2">{{ project.owner.username|title }} 👑</span>
        </li>

        {% for member in project.contributors %}
            <li class="list-group-item d-flex align-items-center">
                <img src="{{ member.avatar ?? asset('images/concerto.png')}}" class="img-fluid rounded-circle profile-picture" alt="Profile Picture">
                <span class="ml-2">{{ member.username|title }}</span>
            </li>
        {% endfor %}
    </ul>
</div>

<style scoped>
    .profile-picture {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
    .project-owner {
        font-weight: bold;
    }
</style>
